<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styl.css">
    <title>THE LOG</title>
</head>
<body>
    {% block body %}  
  <h1>THE LOG</h1> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <a href="/about" class="aboutthelog"> About</a>
  &nbsp;<span class="divider"> / </span>  &nbsp; 
  <a href="/posts" class="aboutthelog"> Posts</a>
  &nbsp;<span class="divider"> / </span>  &nbsp; 
  <a href="/gallery" class="aboutthelog"> Gallery</a>
<br>
   <img class="flwr" alt="flwr" src="/static/750882246a23501694d3ff74596a1219-removebg-preview.png">
    {% endblock %}

</body>
</html>