{% extends "indx.html" %}
{% block body %}
<a href="/"> <h1> LOGS </h1> </a>
<h2> #1 - June 09, 2022 </h2>
<p> 
Hello, Wolrd! Welcome to my humble log<br> 
a place where i'll share w/e, streaming thoughts and what not... <br>
One of the purposes for why I even bothered with making <b>another</b> kind of a blog <br> 
Is to sharpen my programming skills. Another reason is because I want and I can, <br>
We should all express ourselves and let in for fears, as they say get comfortable being uncomfortable. <br>
Chill with some nice music by Bill Evans:<br>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/gk4D7N0pzGs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<br>

<h2> #2 - ??? </h2>
<p> 
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<h2> #3 - ??? </h2>
<p> 
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<h2> #4 - ??? </h2>
<p> 
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<img alt="flwr3" class="flwr3" src="/static/original_fe84343415c440e3637eee89ea602ef1.png"













{% endblock %}